
body {
    background-color: rgb(196, 255, 226);
}

/* Ocultar submenús por defecto */
.dropdown-submenu .dropdown-menu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    margin-top: -5px;
}

/* Mostrar submenú al pasar el mouse o hacer clic */
.dropdown-submenu:hover > .dropdown-menu,
.dropdown-submenu.show > .dropdown-menu {
    display: block;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
}

